---
import Layout from "../layouts/Layout.astro";
import Label from "../components/Label.astro";
import Replanteo from "../data/replanteo.json";
import Instalacion from "../data/instalacion.json";
import Button from "../components/Button.astro";
---

<Layout
	title="Guidelines - validación"
	description="Herramienta de validación - listado de elementos a valorar"
>
	<main>
		<section class="container">
			<form>
				<h2>Replanteig</h2>

				<section>
					<h3>Resum</h3>
					{
						Replanteo.Replanteig.Resum?.map((item) => (
							<Label
								id={`replanteig-${item.id}`}
								text={item.content}
							/>
						))
					}
				</section>
				<section>
					<h3>Detall per aula</h3>
					{
						Replanteo.Replanteig["Detall per aula"]?.map((item) => (
							<Label
								id={`replanteig-${item.id}`}
								text={item.content}
							/>
						))
					}
					<Button />
				</section>
			</form>
		</section>
		<section class="container">
			<form>
				<h2>Instal·lació</h2>
				<section>
					<h3>Resum</h3>
					{
						Instalacion.Instal·lació["Resum instal·lació"]?.map(
							(item) => (
								<Label
									id={`instalacio-${item.id}`}
									text={item.content}
								/>
							),
						)
					}
				</section>
				<section>
					<h3>Detall per aula</h3>
					{
						Instalacion.Instal·lació[
							"Detall per aula instal·lació"
						]?.map((item) => (
							<Label
								id={`instalacio-${item.id}`}
								text={item.content}
							/>
						))
					}
					<Button />
				</section>
			</form>
		</section>
	</main>
</Layout>

<style>
	main {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}
	section.container {
		padding: 1.5rem;
		border: 1px solid var(--foreground);
		border-radius: 1.2rem;
	}
</style>
