---
import Layout from "../layouts/Layout.astro";
import Label from "../components/Label.astro";
import Replanteo from "../data/replanteo.json";
import Instalacion from "../data/instalacion.json";
import Albarans from "../data/albaran.json";
import Plano from "../data/plano.json";
import Button from "../components/Button.astro";
import Nav from "../components/Navbar.astro";
import "../styles/globals.css";

const Planos = Plano.Plano;
const Replanteig = Replanteo.Replanteig;
const Instalacio = Instalacion.Instal·lació;
const Panells = Albarans.Panells;
---

<Layout
	title="Guidelines - validación"
	description="Herramienta de validación - listado de elementos a valorar"
>
	<main>
		<header>
			<Nav />
		</header>
		<section id="plano" class="container">
			<form>
				<h2>Plànol</h2>

				<section>
					<h3>Plànol del centre</h3>
					{
						Planos.map((item) => (
							<Label
								id={`plano-${item.id}`}
								text={item.content}
							/>
						))
					}
				</section>
			</form>
		</section>
		<section id="replanteig" class="container">
			<form>
				<h2>Replanteig</h2>

				<section>
					<h3>Resum</h3>
					{
						Replanteig.Resum?.map((item) => (
							<Label
								id={`replanteig-${item.id}`}
								text={item.content}
							/>
						))
					}
				</section>
				<section>
					<h3>Detall per aula</h3>
					{
						Replanteig["Detall per aula"]?.map((item) => (
							<Label
								id={`replanteig-${item.id}`}
								text={item.content}
							/>
						))
					}
					<Button />
				</section>
			</form>
		</section>
		<section id="instalacio" class="container">
			<form>
				<h2>Instal·lació</h2>
				<section>
					<h3>Resum</h3>
					{
						Instalacio["Resum instal·lació"]?.map((item) => (
							<Label
								id={`instalacio-${item.id}`}
								text={item.content}
							/>
						))
					}
				</section>
				<section>
					<h3>Detall per aula</h3>
					{
						Instalacio["Detall per aula instal·lació"]?.map(
							(item) => (
								<Label
									id={`instalacio-${item.id}`}
									text={item.content}
								/>
							),
						)
					}
					<Button />
				</section>
			</form>
		</section>
		<section id="albaraPanells" class="container">
			<form>
				<h2>Albarà Panells</h2>
				<section>
					<h3>Dades</h3>
					{
						Panells.at(0)?.Dades.map((item) => (
							<Label
								id={`panells-${item.id}`}
								text={item.content}
							/>
						))
					}
				</section>
				<section>
					<h3>Detall equipament</h3>
					{
						Panells.at(1)?.["Detall equipament"].map((item) => (
							<Label
								id={`panells-${item.id}`}
								text={item.content}
							/>
						))
					}
				</section>
				<section>
					<h3>Detall equipament</h3>
					{
						Panells.at(2)?.["Signatura tècnic"].map((item) => (
							<Label
								id={`panells-${item.id}`}
								text={item.content}
							/>
						))
					}
				</section>
			</form>
		</section>
	</main>
</Layout>

<style>
	main {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}
	section.container {
		padding: 1.5rem;
		border: 1px solid var(--foreground);
		border-radius: 1.2rem;
	}

	section:has(h3) {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}
</style>
